venv/
ENV/
env/

*.db
*.sqlite3

.env

__pycache__/
app/__pycache__/
app/routers/__pycache__/
app/schemas/__pycache__/
app/utils/__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
.DS_Store
Thumbs.db

*.csv
